<nav class="navbar navbar-toggleable-sm">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
    data-target="#main-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-user-o <% if user_signed_in? %>signed_in<% end %>"></span>
  </button>

  <a href="<%= root_path %>" class="navbar-brand"><%= app_name -%></a>

  <div class="collapse navbar-collapse" id="main-navbar">
<div id="user-nav" class="nav-item dropdown ml-auto justify-content-end">
      <a class="nav-link dropdown-toggle <%= "btn-danger" if ghosted_user -%> " data-toggle="dropdown" pyr-target="#user-nav"><span class="fa fa-user-o"></span> <%= current_user.ui_identifier %></a>
      <ul class="dropdown-menu dropdown-default dropdown-menu-right" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
          <li class="dropdown-item">
              <a href="<%= main_app.edit_user_registration_url %>"><%= current_user.ui_identifier %></a>
              <% if ghosted_user-%>
                  <a class="ghosted-user" href="<%= main_app.admin_user_unbecome_url -%>">(<%= ghosted_user.ui_identifier -%>)</a>
              <% end -%>
          </li>
          <li class="dropdown-item"><%= link_to "Log Out", main_app.destroy_user_session_url, :method => "delete" %></li>
      </ul>
</div>

<% if can? :view_admin_tools, User -%>
    <div id="admin-nav" class="nav-item dropdown navbar-right">
        <a class="btn pyr-button" pyr-toggle="open" pyr-target="#admin-nav"><i class="icon-globe"></i></a>
        <ul class="dropdown-menu">
            <li><a href="<%= main_app.admin_root_url %>">Admin Tools</a></li>
            <li><a href="<%= main_app.admin_users_url %>">Manage Users</a></li>
        </ul>
    </div>
<% end -%>

  </div><!-- main-navbar-collapse -->

</nav>
